<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Integration\Model\CustomerTokenService">
        <plugin name="app_logout_plugin" type="App\Login\Plugin\CustomerTokenService" />
    </type>
</config>