//  Newsletter subscription
.block.newsletter {
    .v-form-box {
        > span {
            flex: 1;
        }
    }

    .v-btn {
        margin-left: -.5rem;
        padding: 1rem 1.5rem;
        z-index: 20;
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .block.newsletter {
        width: 30%;
    }
}
