.downloadable.samples {
    margin-bottom: $indent__base;

    dd {
        margin: 0 0 $indent__s;
    }
}

.table-downloadable-products {
    .product-name {
        margin-right: 15px;
    }
}

.page-product-downloadable {
    .product-add-form {
        @extend .abs-add-clearfix;
        clear: both;
        margin-bottom: $indent__m;
    }

    .product-options-bottom {
        .field.qty {
            display: none !important;
        }
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .page-product-downloadable {
        .product-options-bottom {
            float: right;
            width: 40%;

            .field.qty {
                & + .actions {
                    padding-top: 0;
                }
            }
        }
    }
}
