.collapse-panel {
    .collapse-title {
        cursor: pointer;
        position: relative;
        user-select: none;

        i {
            font-family: $icons__font-name;
            font-size: 1.8rem;
            font-style: normal;
            display: block;
            position: absolute;
            top: 50%;
            right: 0;
            text-align: center;
            cursor: pointer;
            transition: all .3s;
            transform: translateY(-50%);

            &:after {
                content: '\e6ac';
            }
        }
    }

    .collapse-content {
        transition: all .3s;
    }

    &.active {
        .collapse-title {
            i {
                transform: translateY(-50%) rotate(180deg);
            }
        }
    }
}