//
//  Variables
//  _____________________________________________

nav {
    @include lib-css(width, 100%);
    @include lib-css(background, $navigation__background);

    .in-list {
        @include lib-css(display, flex);
        @include lib-css(align-items, center);

        li {
            @include lib-css(padding, 1.5rem);
            @include lib-css(position, relative);

            &:hover {
                .menu {
                    @include lib-css(display, block);
                }
            }
        }
    }

    .menu {
        @include lib-css(position, absolute);
        @include lib-css(top, 100%);
        @include lib-css(left, 0);
        @include lib-css(width, 150px);
        @include lib-css(display, none);
        @include lib-css(padding, 10px);
        @include lib-css(z-index, 20);
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 -1px 0.5rem rgba(0, 0, 0, 0.2);
    }
}

.nav-toggle {
    @include lib-icon-font(
        $icon-menu,
        $_icon-font-size        : 28px,
        $_icon-font-color       : $header-icons-color,
        $_icon-font-color-hover : $header-icons-color-hover
    );
    @include lib-icon-text-hide();
    cursor: pointer;
    display: block;
    font-size: 0;
    left: 15px;
    position: absolute;
    top: 15px;
    z-index: 14;
}

//
//  Mobile
//  _____________________________________________

@include max-screen($screen__m) {
    
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .nav-toggle {
        display: none;
    }
}