.mailto.friend {
    @include lib-icon-font(
        $_icon-font-content: $icon-envelope,
        $_icon-font-size: 28px,
        $_icon-font-line-height: 28px,
        $_icon-font-vertical-align: top
    );
}

.v-position {
    position: relative;

    .v-btn {
        position: absolute;
        bottom: 0;
        right: -15rem;
        z-index: 20
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .v-friend {
        max-width: 50%;
    }
}