@include lib-font-face(
    $family-name: $icons__font-name,
    $font-path  : $icons__font-path,
    $font-weight: normal,
    $font-style : normal
);


.v-icon-eye {
    position: absolute;
    top: 0;
    right: 1rem;
    font-family: $icons__font-name;
    font-size: 2.6rem;
    font-style: normal;
    display: inline-block;
    z-index: 20;

    &::before {
        content: '\e6a6';
    }

    &.show {
        &::before {
            content: '\eab6';
        }
    }
}

.v-icon-reduce,
.v-icon-increase {
    font-family: $icons__font-name;
    font-size: 1.4rem;
    font-style: normal;
    display: inline-block;
}

.v-icon-reduce {
    &::before {
        content: '\e634';
    }
}

.v-icon-increase {
    &::before {
        content: '\e619';
    }
}

.icon-remove {
    &::before {
        content: '\e600';
    }
}