{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "loose": true
            }
        ],
        [
            "@vue/babel-preset-jsx",
            {
              "vModel": true,
              "vOn": true
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ],
    "comments": false,
    "env": {
        "test": {
            "presets": [
                "@babel/preset-env"
            ],
            "plugins": [
                "istanbul"
            ]
        }
    }
}