<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <app_minify>
            <general>
                <enabled>0</enabled>
                <max_minification>0</max_minification>
                <compatibility>0</compatibility>
                <remove_comments>0</remove_comments>
            </general>
        </app_minify>
    </default>
</config>
