.bundle-actions {
    @extend .abs-box-tocart;
}

.bundle-options-container {
    clear: both;
    margin-bottom: $indent__xl;

    .legend.title {
        @include lib-heading(h2);
    }

    .product-add-form {
        display: none;
    }

    .price-box {
        .price {
            font-size: $font-size__l;
            font-weight: $font-weight__bold;
        }
    }

    .price-notice {
        @extend .abs-adjustment-incl-excl-tax;
    }

    .block-bundle-summary {
        @extend .abs-add-box-sizing;
        @include lib-css(background, $secondary__color);
        padding: $indent__s $indent__base;

        > .title > strong {
            @include lib-heading(h2);
        }

        .bundle-summary {
            margin-top: $indent__l;

            &.empty {
                display: none;
            }

            > .subtitle {
                @include lib-heading(h3);
                display: block;
            }
        }

        .bundle.items {
            @extend .abs-reset-list;

            > li {
                margin-bottom: $indent__s;
            }
        }

        .product-addto-links {
            > .action {
                @extend .abs-action-addto-product;
                vertical-align: top;
            }
        }
    }
    .nested {
        .field.qty {
            .label {
                @include lib-css(font-weight, $form-field-label__font-weight);
                @include lib-css(margin, 0 0 $indent__xs);
                display: inline-block;
            }

            @include lib-css(margin-top, $form-field__vertical-indent);
        }
    }

    p.required {
        @include lib-css(color, $form-field-label-asterisk__color);
    }

    .product-options-bottom {
        clear: left;
    }
}

//
//  Desktop
//  _____________________________________________

@include min-screen($screen__m) {
    .bundle-options-container {
        .legend.title {
            @extend .abs-reset-left-margin-desktop;
        }

        .block-bundle-summary {
            float: right;
            position: relative;
            width: 40%;
        }
    }
}